@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 14pt;
}

h1{
    color: #16252c;
}
h2{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
h3{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}
p{
    margin: 1rem 0;
}

img{
    margin: 5px 0;
}

.header {
    border-bottom:#172847 solid 1px;
}
.navbar__item {
    color: #172847;
}
.allpost{
    align-items: stretch;
}

.breaker {
    border: 8px #172847 dotted;
    border-bottom: none;
    margin: 4rem auto;
    width: 50%;
}

.boxshadow{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.readMoreBtn{
    color: #16252c;
    display: inline-flex;
    font-weight: bold;
    margin: auto;
    padding: 0.2rem 1rem;
}

.footer {
    background-color: #172847;
    min-height: 300px;
}