@tailwind base;
@tailwind components;
@tailwind utilities;
.test{
    width: 30%;
}

body{
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 14pt;
}

h1{
    color: #16252c;
}
h2{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
h3{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}
p{
    margin: 1rem 0;
}
img{
    margin: 5px 0;
}

.header {
    border-bottom:#172847 solid 1px;
}
.navbar__item {
    color: #172847;
}
.allpost{
    align-items: stretch;
}
.latestpost{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.log{
    background-color: #f5fafc;
    padding: 0.2rem;
    margin-right: 0.5rem;
}
.breaker {
    border: 8px #172847 dotted;
    border-bottom: none;
    margin: 4rem auto;
    width: 50%;
}

.lastBlog{
    border:#16252c solid 1px;
    padding: 5rem;
}

.link{
    text-decoration: underline;
}

.readMore-btn{
    border-radius: 15px;
    border:1px #16252c solid;
    background-color: #ffffff;
    color: #16252c;
    font-weight: bold;
    padding: 0.2rem 1rem;

}
.readMore-btn:hover{
    background-color: #f5f3de;
}

.footer {
    background-color: #172847;
    min-height: 300px;
}